<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close  m-aside-left-close--skin-light" id="m_aside_left_close_btn" appunwraptag="">
	<i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-light">
	<!-- BEGIN: Brand -->
	<div class="m-brand  m-brand--skin-light">
		<a routerLink="/index" class="m-brand__logo">
			<img alt="" src="./assets/demo/demo7/media/img/logo/logo.png"/>
		</a>
	</div>
	<!-- END: Brand --> 	<!-- BEGIN: Aside Menu -->
	<div  		id="m_ver_menu"  		class="m-aside-menu  m-aside-menu--skin-light m-aside-menu--submenu-skin-light"  		data-menu-vertical="true" 		 data-menu-scrollable="true" data-menu-dropdown-timeout="500"   		>
		<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">
			<li class="m-menu__item  m-menu__item--submenu m-menu__item--submenu-fullheight" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="click" data-menu-dropdown-toggle-class="m-aside-menu-overlay--on">
				<a  href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-menu"></i>
					<span class="m-menu__link-text">
						Applications
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<div class="m-menu__wrapper">
						<ul class="m-menu__subnav">
							<li class="m-menu__item  m-menu__item--parent m-menu__item--submenu-fullheight" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
								<span class="m-menu__link">
									<span class="m-menu__link-text">
										Applications
									</span>
								</span>
							</li>
							<li class="m-menu__section">
								<h4 class="m-menu__section-text">
									Modules
								</h4>
								<i class="m-menu__section-icon flaticon-more-v3"></i>
							</li>
							<li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="click" data-menu-submenu-mode="accordion">
								<a  href="#" class="m-menu__link m-menu__toggle">
									<span class="m-menu__link-text">
										Resources
									</span>
									<i class="m-menu__ver-arrow la la-angle-right"></i>
								</a>
								<div class="m-menu__submenu">
									<span class="m-menu__arrow"></span>
									<ul class="m-menu__subnav">
										<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
											<a  routerLink="/inner" class="m-menu__link">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Timesheet
												</span>
											</a>
										</li>
										<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
											<a  routerLink="/inner" class="m-menu__link">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Payroll
												</span>
											</a>
										</li>
										<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
											<a  routerLink="/inner" class="m-menu__link">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Contacts
												</span>
											</a>
										</li>
										<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
											<a  routerLink="/inner" class="m-menu__link">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Members
												</span>
											</a>
										</li>
										<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
											<a  routerLink="/inner" class="m-menu__link">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Clients
												</span>
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
								<a  routerLink="/inner" class="m-menu__link">
									<span class="m-menu__link-text">
										Finance
									</span>
								</a>
							</li>
							<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="click" data-menu-submenu-mode="accordion" data-redirect="true">
								<a  href="#" class="m-menu__link m-menu__toggle">
									<span class="m-menu__link-title">
										<span class="m-menu__link-wrap">
											<span class="m-menu__link-text">
												Support
											</span>
											<span class="m-menu__link-badge">
												<span class="m-badge m-badge--danger">
													23
												</span>
											</span>
										</span>
									</span>
									<i class="m-menu__ver-arrow la la-angle-right"></i>
								</a>
								<div class="m-menu__submenu">
									<span class="m-menu__arrow"></span>
									<ul class="m-menu__subnav">
										<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
											<a  routerLink="/inner" class="m-menu__link">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Reports
												</span>
											</a>
										</li>
										<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="click" data-menu-submenu-mode="accordion" data-redirect="true">
											<a  href="#" class="m-menu__link m-menu__toggle">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Cases
												</span>
												<i class="m-menu__ver-arrow la la-angle-right"></i>
											</a>
											<div class="m-menu__submenu">
												<span class="m-menu__arrow"></span>
												<ul class="m-menu__subnav">
													<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
														<a  routerLink="/inner" class="m-menu__link">
															<i class="m-menu__link-icon flaticon-computer"></i>
															<span class="m-menu__link-title">
																<span class="m-menu__link-wrap">
																	<span class="m-menu__link-text">
																		Pending
																	</span>
																	<span class="m-menu__link-badge">
																		<span class="m-badge m-badge--warning">
																			10
																		</span>
																	</span>
																</span>
															</span>
														</a>
													</li>
													<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
														<a  routerLink="/inner" class="m-menu__link">
															<i class="m-menu__link-icon flaticon-signs-2"></i>
															<span class="m-menu__link-title">
																<span class="m-menu__link-wrap">
																	<span class="m-menu__link-text">
																		Urgent
																	</span>
																	<span class="m-menu__link-badge">
																		<span class="m-badge m-badge--danger">
																			6
																		</span>
																	</span>
																</span>
															</span>
														</a>
													</li>
													<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
														<a  routerLink="/inner" class="m-menu__link">
															<i class="m-menu__link-icon flaticon-clipboard"></i>
															<span class="m-menu__link-title">
																<span class="m-menu__link-wrap">
																	<span class="m-menu__link-text">
																		Done
																	</span>
																	<span class="m-menu__link-badge">
																		<span class="m-badge m-badge--success">
																			2
																		</span>
																	</span>
																</span>
															</span>
														</a>
													</li>
													<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
														<a  routerLink="/inner" class="m-menu__link">
															<i class="m-menu__link-icon flaticon-multimedia-2"></i>
															<span class="m-menu__link-title">
																<span class="m-menu__link-wrap">
																	<span class="m-menu__link-text">
																		Archive
																	</span>
																	<span class="m-menu__link-badge">
																		<span class="m-badge m-badge--info m-badge--wide">
																			245
																		</span>
																	</span>
																</span>
															</span>
														</a>
													</li>
												</ul>
											</div>
										</li>
										<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
											<a  routerLink="/inner" class="m-menu__link">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Clients
												</span>
											</a>
										</li>
										<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
											<a  routerLink="/inner" class="m-menu__link">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													Audit
												</span>
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
								<a  routerLink="/inner" class="m-menu__link">
									<span class="m-menu__link-text">
										Administration
									</span>
								</a>
							</li>
							<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
								<a  routerLink="/inner" class="m-menu__link">
									<span class="m-menu__link-text">
										Management
									</span>
								</a>
							</li>
							<li class="m-menu__section">
								<h4 class="m-menu__section-text">
									Orders
								</h4>
								<i class="m-menu__section-icon flaticon-more-v3"></i>
							</li>
							<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
								<a  routerLink="/inner" class="m-menu__link">
									<span class="m-menu__link-text">
										Order Management
									</span>
								</a>
							</li>
							<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
								<a  routerLink="/inner" class="m-menu__link">
									<span class="m-menu__link-title">
										<span class="m-menu__link-wrap">
											<span class="m-menu__link-text">
												Delivery
											</span>
											<span class="m-menu__link-badge">
												<span class="m-badge m-badge--focus">
													2
												</span>
											</span>
										</span>
									</span>
								</a>
							</li>
							<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
								<a  routerLink="/inner" class="m-menu__link">
									<span class="m-menu__link-text">
										Products
									</span>
								</a>
							</li>
							<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
								<a  routerLink="/inner" class="m-menu__link">
									<span class="m-menu__link-text">
										Support
									</span>
								</a>
							</li>
							<li class="m-menu__section">
								<h4 class="m-menu__section-text">
									Reports
								</h4>
								<i class="m-menu__section-icon flaticon-more-v3"></i>
							</li>
							<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
								<a  routerLink="/inner" class="m-menu__link">
									<span class="m-menu__link-text">
										Accounting
									</span>
								</a>
							</li>
							<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
								<a  routerLink="/inner" class="m-menu__link">
									<span class="m-menu__link-title">
										<span class="m-menu__link-wrap">
											<span class="m-menu__link-text">
												Products
											</span>
											<span class="m-menu__link-badge">
												<span class="m-badge m-badge--accent m-badge--wide m-badge--rounded">
													new
												</span>
											</span>
										</span>
									</span>
								</a>
							</li>
							<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
								<a  routerLink="/inner" class="m-menu__link">
									<span class="m-menu__link-text">
										Sales
									</span>
								</a>
							</li>
							<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
								<a  routerLink="/inner" class="m-menu__link">
									<span class="m-menu__link-text">
										IPO
									</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</li>
			<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="click" data-redirect="true">
				<a  href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-add"></i>
					<span class="m-menu__link-text">
						Add
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"  data-redirect="true">
							<span class="m-menu__link">
								<span class="m-menu__link-text">
									Add
								</span>
							</span>
						</li>
						<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-icon la la-commenting"></i>
								<span class="m-menu__link-text">
									Post
								</span>
							</a>
						</li>
						<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-icon la la-user"></i>
								<span class="m-menu__link-text">
									Member
								</span>
							</a>
						</li>
						<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-icon la la-cart-arrow-down"></i>
								<span class="m-menu__link-text">
									Order
								</span>
							</a>
						</li>
						<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-icon la la-coffee"></i>
								<span class="m-menu__link-text">
									Entry
								</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="m-menu__item  m-menu__item--submenu m-menu__item--bottom" aria-haspopup="true"  data-menu-submenu-toggle="click" data-redirect="true">
				<a  href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-stopwatch"></i>
					<span class="m-menu__link-text">
						Customers
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent m-menu__item--bottom" aria-haspopup="true"  data-redirect="true">
							<span class="m-menu__link">
								<span class="m-menu__link-text">
									Customers
								</span>
							</span>
						</li>
						<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Reports
								</span>
							</a>
						</li>
						<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="hover" data-redirect="true">
							<a  href="#" class="m-menu__link m-menu__toggle">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Cases
								</span>
								<i class="m-menu__ver-arrow la la-angle-right"></i>
							</a>
							<div class="m-menu__submenu">
								<span class="m-menu__arrow"></span>
								<ul class="m-menu__subnav">
									<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
										<a  routerLink="/inner" class="m-menu__link">
											<i class="m-menu__link-icon flaticon-computer"></i>
											<span class="m-menu__link-title">
												<span class="m-menu__link-wrap">
													<span class="m-menu__link-text">
														Pending
													</span>
													<span class="m-menu__link-badge">
														<span class="m-badge m-badge--warning">
															10
														</span>
													</span>
												</span>
											</span>
										</a>
									</li>
									<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
										<a  routerLink="/inner" class="m-menu__link">
											<i class="m-menu__link-icon flaticon-signs-2"></i>
											<span class="m-menu__link-title">
												<span class="m-menu__link-wrap">
													<span class="m-menu__link-text">
														Urgent
													</span>
													<span class="m-menu__link-badge">
														<span class="m-badge m-badge--danger">
															6
														</span>
													</span>
												</span>
											</span>
										</a>
									</li>
									<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
										<a  routerLink="/inner" class="m-menu__link">
											<i class="m-menu__link-icon flaticon-clipboard"></i>
											<span class="m-menu__link-title">
												<span class="m-menu__link-wrap">
													<span class="m-menu__link-text">
														Done
													</span>
													<span class="m-menu__link-badge">
														<span class="m-badge m-badge--success">
															2
														</span>
													</span>
												</span>
											</span>
										</a>
									</li>
									<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
										<a  routerLink="/inner" class="m-menu__link">
											<i class="m-menu__link-icon flaticon-multimedia-2"></i>
											<span class="m-menu__link-title">
												<span class="m-menu__link-wrap">
													<span class="m-menu__link-text">
														Archive
													</span>
													<span class="m-menu__link-badge">
														<span class="m-badge m-badge--info m-badge--wide">
															245
														</span>
													</span>
												</span>
											</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Clients
								</span>
							</a>
						</li>
						<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Audit
								</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="m-menu__item  m-menu__item--submenu m-menu__item--bottom-2" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="click">
				<a  href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-settings"></i>
					<span class="m-menu__link-text">
						Settings
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu m-menu__submenu--up">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent m-menu__item--bottom-2" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<span class="m-menu__link">
								<span class="m-menu__link-text">
									Settings
								</span>
							</span>
						</li>
						<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="hover" data-redirect="true">
							<a  routerLink="/inner" class="m-menu__link m-menu__toggle">
								<i class="m-menu__link-bullet m-menu__link-bullet--line">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Profile
								</span>
								<i class="m-menu__ver-arrow la la-angle-right"></i>
							</a>
							<div class="m-menu__submenu">
								<span class="m-menu__arrow"></span>
								<ul class="m-menu__subnav">
									<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
										<a  routerLink="/inner" class="m-menu__link">
											<i class="m-menu__link-icon flaticon-computer"></i>
											<span class="m-menu__link-title">
												<span class="m-menu__link-wrap">
													<span class="m-menu__link-text">
														Pending
													</span>
													<span class="m-menu__link-badge">
														<span class="m-badge m-badge--warning">
															10
														</span>
													</span>
												</span>
											</span>
										</a>
									</li>
									<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
										<a  routerLink="/inner" class="m-menu__link">
											<i class="m-menu__link-icon flaticon-signs-2"></i>
											<span class="m-menu__link-title">
												<span class="m-menu__link-wrap">
													<span class="m-menu__link-text">
														Urgent
													</span>
													<span class="m-menu__link-badge">
														<span class="m-badge m-badge--danger">
															6
														</span>
													</span>
												</span>
											</span>
										</a>
									</li>
									<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
										<a  routerLink="/inner" class="m-menu__link">
											<i class="m-menu__link-icon flaticon-clipboard"></i>
											<span class="m-menu__link-title">
												<span class="m-menu__link-wrap">
													<span class="m-menu__link-text">
														Done
													</span>
													<span class="m-menu__link-badge">
														<span class="m-badge m-badge--success">
															2
														</span>
													</span>
												</span>
											</span>
										</a>
									</li>
									<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
										<a  routerLink="/inner" class="m-menu__link">
											<i class="m-menu__link-icon flaticon-multimedia-2"></i>
											<span class="m-menu__link-title">
												<span class="m-menu__link-wrap">
													<span class="m-menu__link-text">
														Archive
													</span>
													<span class="m-menu__link-badge">
														<span class="m-badge m-badge--info m-badge--wide">
															245
														</span>
													</span>
												</span>
											</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--line">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Accounts
								</span>
							</a>
						</li>
						<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--line">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Help
								</span>
							</a>
						</li>
						<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--line">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Notifications
								</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="m-menu__item  m-menu__item--submenu m-menu__item--bottom-1" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="click">
				<a  href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-info"></i>
					<span class="m-menu__link-text">
						Help
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu m-menu__submenu--up">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent m-menu__item--bottom-1" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<span class="m-menu__link">
								<span class="m-menu__link-text">
									Help
								</span>
							</span>
						</li>
						<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Support
								</span>
							</a>
						</li>
						<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Blog
								</span>
							</a>
						</li>
						<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Documentation
								</span>
							</a>
						</li>
						<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Pricing
								</span>
							</a>
						</li>
						<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Terms
								</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
	<!-- END: Aside Menu -->
</div>
<div class="m-aside-menu-overlay"></div>
<!-- END: Left Aside -->
