<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close  m-aside-left-close--skin-light" id="m_aside_left_close_btn" appunwraptag="">
	<i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-light">
	<!-- BEGIN: Brand -->
	<div class="m-brand  m-brand--skin-light">
		<a routerLink="/index" class="m-brand__logo">
			<img alt="" src="./assets/demo/demo7/media/img/logo/logo.png"/>
		</a>
	</div>
	<!-- END: Brand --> 	<!-- BEGIN: Aside Menu -->
	<div  		id="m_ver_menu"  		class="m-aside-menu  m-aside-menu--skin-light m-aside-menu--submenu-skin-light"  		data-menu-vertical="true" 		 data-menu-scrollable="true" data-menu-dropdown-timeout="500"   		>
		<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">
			<li class="m-menu__item  m-menu__item--submenu m-menu__item--submenu-fullheight" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="click" data-menu-dropdown-toggle-class="m-aside-menu-overlay--on">
				<a  href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-menu"></i>
					<span class="m-menu__link-text">
						应用程序
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<div class="m-menu__wrapper">
						<ul class="m-menu__subnav">
							<li class="m-menu__item  m-menu__item--parent m-menu__item--submenu-fullheight" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
								<span class="m-menu__link">
									<span class="m-menu__link-text">
										应用程序
									</span>
								</span>
							</li>
							<li class="m-menu__section">
								<h4 class="m-menu__section-text">
									创作
								</h4>
								<i class="m-menu__section-icon flaticon-more-v3"></i>
							</li>
							<li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="click" data-menu-submenu-mode="accordion">
								<a  href="#" class="m-menu__link m-menu__toggle">
									<span class="m-menu__link-title">
										<span class="m-menu__link-wrap">
											<span class="m-menu__link-text">
												微博
											</span>
											<span class="m-menu__link-badge">
												<span class="m-badge m-badge--danger">
													0
												</span>
											</span>
										</span>
									</span>
									<i class="m-menu__ver-arrow la la-angle-right"></i>
								</a>
								<div class="m-menu__submenu">
										<span class="m-menu__arrow"></span>
										<ul class="m-menu__subnav">
											<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
												<a  routerLink="/inner" class="m-menu__link">
													<i class="m-menu__link-bullet m-menu__link-bullet--dot">
														<span></span>
													</i>
													<span class="m-menu__link-text">
														写微博
													</span>
												</a>
											</li>
											<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
												<a  routerLink="/inner" class="m-menu__link">
													<i class="m-menu__link-bullet m-menu__link-bullet--dot">
														<span></span>
													</i>
													<span class="m-menu__link-text">
														所有微博
													</span>
												</a>
											</li>
											<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
												<a  routerLink="/inner" class="m-menu__link">
													<i class="m-menu__link-bullet m-menu__link-bullet--dot">
														<span></span>
													</i>
													<span class="m-menu__link-text">
														评论
													</span>
												</a>
											</li>
											<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
												<a  routerLink="/inner" class="m-menu__link">
													<i class="m-menu__link-bullet m-menu__link-bullet--dot">
														<span></span>
													</i>
													<span class="m-menu__link-text">
														草稿箱
													</span>
												</a>
											</li>
											<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
												<a  routerLink="/inner" class="m-menu__link">
													<i class="m-menu__link-bullet m-menu__link-bullet--dot">
														<span></span>
													</i>
													<span class="m-menu__link-text">
														回收站
													</span>
												</a>
											</li>
										</ul>
									</div>
							</li>
							<li class="m-menu__item" aria-haspopup="true" data-menu-submenu-mode="accordion"  data-redirect="true">
								<a  href="#" class="m-menu__link m-menu__toggle">
									<span class="m-menu__link-title">
										<span class="m-menu__link-wrap">
											<span class="m-menu__link-text">
												博客
											</span>
											<span class="m-menu__link-badge">
												<span class="m-badge m-badge--danger">
													0
												</span>
											</span>
										</span>
									</span>
									<i class="m-menu__ver-arrow la la-angle-right"></i>
								</a>
								<div class="m-menu__submenu">
										<span class="m-menu__arrow"></span>
										<ul class="m-menu__subnav">
											<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
												<a  routerLink="/inner" class="m-menu__link">
													<i class="m-menu__link-bullet m-menu__link-bullet--dot">
														<span></span>
													</i>
													<span class="m-menu__link-text">
														新建文章
													</span>
												</a>
											</li>
											<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
												<a  routerLink="/inner" class="m-menu__link">
													<i class="m-menu__link-bullet m-menu__link-bullet--dot">
														<span></span>
													</i>
													<span class="m-menu__link-text">
														所有文章
													</span>
												</a>
											</li>
											<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="click" data-menu-submenu-mode="accordion" data-redirect="true">
												<a  href="#" class="m-menu__link m-menu__toggle">
													<i class="m-menu__link-bullet m-menu__link-bullet--dot">
														<span></span>
													</i>
													<span class="m-menu__link-text">
														分类
													</span>
													<i class="m-menu__ver-arrow la la-angle-right"></i>
												</a>
												<div class="m-menu__submenu">
													<span class="m-menu__arrow"></span>
													<ul class="m-menu__subnav">
														<li class="m-menu__item" aria-haspopup="true" data-menu-submenu-mode="accordion"  data-redirect="true">
															<a  routerLink="/inner" class="m-menu__link m-menu__toggle">
																<i class="m-menu__link-icon flaticon-more-v6"></i>
																<span class="m-menu__link-title">
																	<span class="m-menu__link-wrap">
																		<span class="m-menu__link-text">
																			Pending
																		</span>
																		<span class="m-menu__link-badge">
																			<span class="m-badge m-badge--warning">
																				10
																			</span>
																		</span>
																	</span>
																</span>
																<i class="m-menu__ver-arrow la la-angle-right"></i>
															</a>
															<div class="m-menu__submenu">
																	<span class="m-menu__arrow"></span>
																	<ul class="m-menu__subnav">
																		<li class="m-menu__item" aria-haspopup="true" data-menu-submenu-mode="accordion"  data-redirect="true">
																			<a  routerLink="/inner" class="m-menu__link">
																				<i class="m-menu__link-icon flaticon-more-v6"></i>
																				<span class="m-menu__link-title">
																					<span class="m-menu__link-wrap">
																						<span class="m-menu__link-text">
																							Pending-1
																						</span>
																						<span class="m-menu__link-badge">
																							<span class="m-badge m-badge--warning">
																								10
																							</span>
																						</span>
																					</span>
																				</span>
																			</a>
																		</li>
																	</ul>
																</div>
														</li>
														<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
															<a  routerLink="/inner" class="m-menu__link">
																<i class="m-menu__link-icon flaticon-more-v6"></i>
																<span class="m-menu__link-title">
																	<span class="m-menu__link-wrap">
																		<span class="m-menu__link-text">
																			Urgent
																		</span>
																		<span class="m-menu__link-badge">
																			<span class="m-badge m-badge--danger">
																				6
																			</span>
																		</span>
																	</span>
																</span>
															</a>
														</li>
														<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
															<a  routerLink="/inner" class="m-menu__link">
																<i class="m-menu__link-icon flaticon-more-v6"></i>
																<span class="m-menu__link-title">
																	<span class="m-menu__link-wrap">
																		<span class="m-menu__link-text">
																			Done
																		</span>
																		<span class="m-menu__link-badge">
																			<span class="m-badge m-badge--success">
																				2
																			</span>
																		</span>
																	</span>
																</span>
															</a>
														</li>
														<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
															<a  routerLink="/inner" class="m-menu__link">
																<i class="m-menu__link-icon flaticon-more-v6"></i>
																<span class="m-menu__link-title">
																	<span class="m-menu__link-wrap">
																		<span class="m-menu__link-text">
																			Archive
																		</span>
																		<span class="m-menu__link-badge">
																			<span class="m-badge m-badge--info m-badge--wide">
																				245
																			</span>
																		</span>
																	</span>
																</span>
															</a>
														</li>
													</ul>
												</div>
											</li>
											<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
												<a  routerLink="/inner" class="m-menu__link">
													<i class="m-menu__link-bullet m-menu__link-bullet--dot">
														<span></span>
													</i>
													<span class="m-menu__link-text">
														评论
													</span>
												</a>
											</li>
											<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
												<a  routerLink="/inner" class="m-menu__link">
													<i class="m-menu__link-bullet m-menu__link-bullet--dot">
														<span></span>
													</i>
													<span class="m-menu__link-text">
														草稿箱
													</span>
												</a>
											</li>
											<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
												<a  routerLink="/inner" class="m-menu__link">
													<i class="m-menu__link-bullet m-menu__link-bullet--dot">
														<span></span>
													</i>
													<span class="m-menu__link-text">
														回收站
													</span>
												</a>
											</li>
										</ul>
									</div>
							</li>
							<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="click" data-menu-submenu-mode="accordion" data-redirect="true">
								<a  href="#" class="m-menu__link m-menu__toggle">
									<span class="m-menu__link-title">
										<span class="m-menu__link-wrap">
											<span class="m-menu__link-text">
												笔记
											</span>
											<span class="m-menu__link-badge">
												<span class="m-badge m-badge--danger">
													23
												</span>
											</span>
										</span>
									</span>
									<i class="m-menu__ver-arrow la la-angle-right"></i>
								</a>
								<div class="m-menu__submenu">
									<span class="m-menu__arrow"></span>
									<ul class="m-menu__subnav">
										<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
											<a  routerLink="/inner" class="m-menu__link">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													新建笔记
												</span>
											</a>
										</li>
										<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
											<a  routerLink="/inner" class="m-menu__link">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													所有笔记
												</span>
											</a>
										</li>
										<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="click" data-menu-submenu-mode="accordion" data-redirect="true">
											<a  href="#" class="m-menu__link m-menu__toggle">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													分类
												</span>
												<i class="m-menu__ver-arrow la la-angle-right"></i>
											</a>
											<div class="m-menu__submenu">
												<span class="m-menu__arrow"></span>
												<ul class="m-menu__subnav">
													<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
														<a  routerLink="/inner" class="m-menu__link">
															<i class="m-menu__link-icon flaticon-more-v6"></i>
															<span class="m-menu__link-title">
																<span class="m-menu__link-wrap">
																	<span class="m-menu__link-text">
																		Pending
																	</span>
																	<span class="m-menu__link-badge">
																		<span class="m-badge m-badge--warning">
																			10
																		</span>
																	</span>
																</span>
															</span>
														</a>
													</li>
													<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
														<a  routerLink="/inner" class="m-menu__link">
															<i class="m-menu__link-icon flaticon-more-v6"></i>
															<span class="m-menu__link-title">
																<span class="m-menu__link-wrap">
																	<span class="m-menu__link-text">
																		Urgent
																	</span>
																	<span class="m-menu__link-badge">
																		<span class="m-badge m-badge--danger">
																			6
																		</span>
																	</span>
																</span>
															</span>
														</a>
													</li>
													<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
														<a  routerLink="/inner" class="m-menu__link">
															<i class="m-menu__link-icon flaticon-more-v6"></i>
															<span class="m-menu__link-title">
																<span class="m-menu__link-wrap">
																	<span class="m-menu__link-text">
																		Done
																	</span>
																	<span class="m-menu__link-badge">
																		<span class="m-badge m-badge--success">
																			2
																		</span>
																	</span>
																</span>
															</span>
														</a>
													</li>
													<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
														<a  routerLink="/inner" class="m-menu__link">
															<i class="m-menu__link-icon flaticon-more-v6"></i>
															<span class="m-menu__link-title">
																<span class="m-menu__link-wrap">
																	<span class="m-menu__link-text">
																		Archive
																	</span>
																	<span class="m-menu__link-badge">
																		<span class="m-badge m-badge--info m-badge--wide">
																			245
																		</span>
																	</span>
																</span>
															</span>
														</a>
													</li>
												</ul>
											</div>
										</li>
										<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
											<a  routerLink="/inner" class="m-menu__link">
												<i class="m-menu__link-bullet m-menu__link-bullet--dot">
													<span></span>
												</i>
												<span class="m-menu__link-text">
													回收站
												</span>
											</a>
										</li>
										
									</ul>
								</div>
							</li>
							
							<li class="m-menu__section">
								<h4 class="m-menu__section-text">
									工作
								</h4>
								<i class="m-menu__section-icon flaticon-more-v3"></i>
							</li>
							<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
								<a  routerLink="/inner" class="m-menu__link">
									<span class="m-menu__link-text">
										任务
									</span>
								</a>
							</li>
							<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
								<a  routerLink="/inner" class="m-menu__link">
									<span class="m-menu__link-title">
										<span class="m-menu__link-wrap">
											<span class="m-menu__link-text">
												项目管理
											</span>
											<span class="m-menu__link-badge">
												<span class="m-badge m-badge--focus">
													2
												</span>
											</span>
										</span>
									</span>
								</a>
							</li>
							
							<li class="m-menu__section">
								<h4 class="m-menu__section-text">
									财务
								</h4>
								<i class="m-menu__section-icon flaticon-more-v3"></i>
							</li>
							<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
								<a  routerLink="/inner" class="m-menu__link">
									<span class="m-menu__link-text">
										记账
									</span>
								</a>
							</li>
							<li class="m-menu__section">
								<h4 class="m-menu__section-text">
									健康
								</h4>
								<i class="m-menu__section-icon flaticon-more-v3"></i>
							</li>
							<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
								<a  routerLink="/inner" class="m-menu__link">
									<span class="m-menu__link-text">
									健康
								</span>
								</a>
							</li>
								
							<li class="m-menu__section">
								<h4 class="m-menu__section-text">
								资源
								</h4>
								<i class="m-menu__section-icon flaticon-more-v3"></i>
							</li>
							<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
								<a  routerLink="/inner" class="m-menu__link">
									<span class="m-menu__link-text">
									个人网盘
									</span>
								</a>
							</li>
							<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
								<a  routerLink="/inner" class="m-menu__link">
									<span class="m-menu__link-text">
									相册
									</span>
								</a>
							</li>
							<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
								<a  routerLink="/inner" class="m-menu__link">
									<span class="m-menu__link-text">
									视频
									</span>
								</a>
							</li>
							<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
								<a  routerLink="/inner" class="m-menu__link">
									<span class="m-menu__link-text">
									附件
									</span>
								</a>
							</li>
							<li class="m-menu__section">
								<h4 class="m-menu__section-text">
									用户
								</h4>
								<i class="m-menu__section-icon flaticon-more-v3"></i>
							</li>
							<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
								<a  routerLink="/inner" class="m-menu__link">
									<span class="m-menu__link-text">
									我的会员
									</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</li>
			<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="click" data-redirect="true">
				<a  href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-add"></i>
					<span class="m-menu__link-text">
						添加
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"  data-redirect="true">
							<span class="m-menu__link">
								<span class="m-menu__link-text">
									添加数据
								</span>
							</span>
						</li>
						<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-icon la la-commenting"></i>
								<span class="m-menu__link-text">
									微博
								</span>
							</a>
						</li>
						<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-icon flaticon-interface-1"></i>
								<span class="m-menu__link-text">
									博客
								</span>
							</a>
						</li>
						<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-icon flaticon-edit"></i>
								<span class="m-menu__link-text">
									笔记
								</span>
							</a>
						</li>
						<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-icon flaticon-bag"></i>
								<span class="m-menu__link-text">
									任务
								</span>
							</a>
						</li>
						<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-icon flaticon-edit"></i>
								<span class="m-menu__link-text">
									项目
								</span>
							</a>
						</li>
						<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-icon flaticon-time"></i>
								<span class="m-menu__link-text">
									记账
								</span>
							</a>
						</li>
						<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-icon flaticon-tea-cup"></i>
								<span class="m-menu__link-text">
									健康数据
								</span>
							</a>
						</li>
						<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-icon flaticon-folder-4"></i>
								<span class="m-menu__link-text">
									文件
								</span>
							</a>
						</li>
						<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-icon flaticon-web"></i>
								<span class="m-menu__link-text">
									相册
								</span>
							</a>
						</li>
						<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-icon flaticon-imac"></i>
								<span class="m-menu__link-text">
									视频
								</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="m-menu__item  m-menu__item--submenu m-menu__item--bottom" aria-haspopup="true"  data-menu-submenu-toggle="click" data-redirect="true">
				<a  href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-list"></i>
					<span class="m-menu__link-text">
						任务管理
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent m-menu__item--bottom" aria-haspopup="true"  data-redirect="true">
							<span class="m-menu__link">
								<span class="m-menu__link-text">
									任务管理
								</span>
							</span>
						</li>
						<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									添加任务
								</span>
							</a>
						</li>
						<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="hover" data-redirect="true">
							<a  href="#" class="m-menu__link m-menu__toggle">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									任务列表
								</span>
							</a>
							
						</li>
						<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									已完成
								</span>
							</a>
						</li>
						<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									未完成
								</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="m-menu__item  m-menu__item--submenu m-menu__item--bottom-2" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="click">
				<a  href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-settings"></i>
					<span class="m-menu__link-text">
						设置
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu m-menu__submenu--up">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent m-menu__item--bottom-2" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<span class="m-menu__link">
								<span class="m-menu__link-text">
									设置中心
								</span>
							</span>
						</li>
						<li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"  data-menu-submenu-toggle="hover" data-redirect="true">
							<a  routerLink="/inner" class="m-menu__link m-menu__toggle">
								<i class="m-menu__link-bullet m-menu__link-bullet--line">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									个人资料
								</span>
							</a>
						</li>
						<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--line">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									系统配置
								</span>
							</a>
						</li>
						<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--line">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									安全设置
								</span>
							</a>
						</li>
						<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--line">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									权限设置
								</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="m-menu__item  m-menu__item--submenu m-menu__item--bottom-1" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="click">
				<a  href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-info"></i>
					<span class="m-menu__link-text">
						帮助
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu m-menu__submenu--up">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent m-menu__item--bottom-1" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<span class="m-menu__link">
								<span class="m-menu__link-text">
									帮助中心
								</span>
							</span>
						</li>
						<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									技术支持
								</span>
							</a>
						</li>
						<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									博客
								</span>
							</a>
						</li>
						<li class="m-menu__item" aria-haspopup="true"  data-redirect="true">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									文档
								</span>
							</a>
						</li>
						
					</ul>
				</div>
			</li>
		</ul>
	</div>
	<!-- END: Aside Menu -->
</div>
<div class="m-aside-menu-overlay"></div>
<!-- END: Left Aside -->
